.CategoryHeader{
    margin-bottom: 2px;
}
.CategoryHeader h3{
    color:#4caf50;
    font-size: 2.5rem;
    font-weight:bold;
    margin: auto;
}
.CategoryList{
    list-style-type:none;
    padding: 0;
    margin: 2px;
}
.ListItem{
    padding: 2px;
    color: #ccc;
    margin: auto;
}
.CheckboxContainer{
    display: flex;
  align-items: center;
  cursor: pointer;
justify-content: center;
}
.CheckboxContainer input[type='checkbox']{
    display: none;
}
.Checkbox{
    width: 20px;
  height: 20px;
  margin-right: 5px;
  border: 2px solid #4caf50;
  border-radius: 4px;
  position: relative;
  background-color: #fff;
  transition: background-color 0.5s ease, transform 0.5s ease; 
}
.Checkbox::after {
    content: "";
    position: absolute;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    top: 3px;
    left: 7px;
    transform: scale(0) rotate(45deg);
    transition: transform 0.5s ease;
  }
  .CheckboxContainer input[type="checkbox"]:checked + .Checkbox {
    background-color: #4caf50;
  }
  .CheckboxContainer input[type="checkbox"]:checked + .Checkbox::after {
    transform: scale(1) rotate(45deg);
  }
.Completed{
    text-decoration:line-through;
}
.Delete{
    background-color: rgba(0,0,0,0);
    border: none;
    color: rgb(255, 0, 0);
    font-size: small;
    font-weight: bold;
    border-radius: 4px;
}
@keyframes blink {
    0%, 100% {
      color: red;
      background-color: white;
    }
    50% {
      color: white;
      background-color: red;
    }
  }
  
  /* Add hover effect */
  .Delete:hover {
    animation: blink 1.5s infinite; /* 0.8s duration, repeats infinitely */
  }
@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .ListItem{animation: fadeIn 04s ease;}

